<div class="first-section">
  <div class="all-content">
    <div class="all-text">
      <h1 class="title">Trading Like No One Else</h1>
      <p class="description">here you talk about what differentiates digax from the competition</p>
      <!-- <button type="button-medium" name="button">hello</button> -->
    </div>
    <img src="http://www.digaxtest.com/laptopui2.png" alt="laptop image" class="laptop">
  </div>
</div>
