<nav>
  <div>
      <%= image_tag ("https://res.cloudinary.com/desmpz4mv/image/upload/v1523836977/logo.png"), alt: 'logo', style:"height: 82px; width: 120px;" %>
  </div>
  <ul style="text-decoration: none;">
     <li style="text-decoration: none;"><a href="#">Home</a></li>
     <li><a href="#">Our Services</a></li>
     <li><a href="#">Design</a></li>
     <li><a href="#">Blog</a></li>
     <li><a href="#">Contact</a></li>
   </ul>
</nav>
